.jumbotron {
    background-image: url("../images/pizza.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left:0;
    padding-right:0;
}

#pizza-text{
    background-color: white;
    opacity: 0.8;
}


/*@media screen and (max-width: 768px) {*/
    /*body {*/
        /*width: auto;*/
    /*}*/

    /*.jumbotron {*/
        /*background-image: none;*/
    /*}*/
    /*#pizza-text{*/
        /*background-color: none;*/
        /*opacity: 0;*/
    /*}*/


/*}*/

