body {
    background-color: greenyellow;
    /*font-family: SansSerif, cursive;*/
}

.paoInfo {
    text-decoration: underline;
    color: #1969B2;
}

h1 h2 h3 h4 {
    text-emphasis: #ff6759;
}

ul {
    text-decoration: underline;
}